/* You can add global styles to this file, and also import other style files */


:root {
    --typeBasePrimary: 'Arial', sans-serif; 
    --typeBaseFallback: 'Helvetica', sans-serif;
  }
  body {
    margin: 0;
    margin-right: 0px;
    margin-left: 0px;
    font-family: 'Arial', sans-serif;
    background-color: #f9f4ef;
    font-family: var(--typeBasePrimary), var(--typeBaseFallback);
    color: #fefefe;
    scroll-behavior: smooth;
    background: linear-gradient(to bottom, #cdb99f, #dab896, #a67c52);
  }